
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: rgb(41, 41, 41); 

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: serif;
    font-style: bold;
}

#container {
    border-radius: 0.4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {

    height: 30em;
    width: 60em;

    border-radius: 0.4em;
    border: 0.5em solid black;

}

.basicScreen {
    background-color: black;
}

#remote {

    height: 25em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 4em;

    background-color: grey;
    border: 0.2em solid black;

    margin-left: 10em;
}

.btnPower{
    height: 2em;
    width: 6em;
    border-radius: 15%;

    background-color: darkred;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.btnPower:hover{
    transition: 0.2s;
    background-color: green;
}


#channels {

    height: 10em;
    width: 8em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.chn {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.volume {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.button {

    height: 2.5em;
    width: 2.5em; 
    border-radius: 25%;

    background-color: rgb(78, 78, 78);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.oculto {
    visibility: hidden;
}

.button:hover{
    transition: 0.2s;
    background-color: rgb(173, 173, 173);
}


.powerOff {
    background: black;
}

.start {
    background-color: rgb(0, 255, 21);
}


.channel1 {
    background-image: url("../img/snk.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel2 {
    background-image: url("../img/simpsons.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain; 
}

.channel3 {
    background-image: url("../img/gura.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.channel4 {
    background-image: url("../img/friends.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}


/* canal stabdby */
.channel0 {
    background-image: url("../img/tvstaticglitch.gif");
    background-repeat: repeat;
    
    background-size: contain;
}

#screenFront {
    /* height: 6em;
    width: 8em; */

    display: flex;
    justify-content: center;
    align-items: center;

    background:none;

}


#info {

    height: 4em;
    width: 8em;

    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    border-radius: 0.5em;

    background:rgba(245, 245, 245, 0.329);

    color: rgb(0, 0, 0);

    text-shadow: 0.5em;
} 