body {
    margin: 0em;
    padding: 0;
  
    min-height: 100vh;
    min-width: 95vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: brown;
    border-color: red;
    border-width: 0.5em;
    border-style: dashed;
}

.col{
    background-color: aqua;
    border-color: yellow;
    border-width: 0.5em;
    border-style: dotted;
}