body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: rgb(41, 41, 41);

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 40em;
    width: 75em;

    background-color:aliceblue;
    border-radius: 0.4em;

    border: 0.2em solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {

    height: 25em;
    width: 40em;

    border-radius: 0.4em;
    border: 0.5em solid black;

}

.basicScreen {
    background-color: black;
}

#remote {

    height: 25em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.5em;

    background-color: grey;
    border: 0.2em solid black;

    margin-left: 10em;
}

.btnPower{
    height: 2em;
    width: 8em;
    border-radius: 10%;

    background-color: rgb(58, 58, 58);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.btnPower:hover{
    transition: 0.2s;
    background-color: green;
}


#channels {

    height: 10em;
    width: 8em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 0.1em solid red;

}

.chn {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.button {

    height: 4em;
    width: 4em; 
    border-radius: 25%;

    background-color: red;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover{
    transition: 0.2s;
    background-color: darkred;
}

.canal1 {
    background-color: aqua;
}

.canal2 {
    background-color: purple;
}

.canal3 {
    background-color: greenyellow;
}

.canal4 {
    background-color: gold;
}

#info {

    height: 8em;
    width: 8em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 0.5em;

    background-color: black;
}


#infoChannelScreen, #infoChannel, #infoDay, #infoTime {

    position: absolute; 
    z-index: 150;
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-size: smaller;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 